replicaCount: 1

image:
  repository: ghcr.io/mkmonkeycat/ez-book-purchase-application
  pullPolicy: IfNotPresent
  tag: latest

nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 80
  targetPort: 3000

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: ez-book.local
      paths:
        - path: /
          pathType: Prefix
  tls: []

secret:
  create: true
  name: ""
  data:
    GOOGLE_SHEETS_SPREADSHEET_ID: ""
    GOOGLE_SHEETS_LOGS_SPREADSHEET_ID: ""
    GOOGLE_SHEETS_CLIENT_EMAIL: ""
    GOOGLE_SHEETS_PRIVATE_KEY: ""

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi

nodeSelector: {}

tolerations: []

affinity: {}
