replicaCount: 1

image:
  repository: ghcr.io/mkmonkeycat/ez-book-purchase-application
  pullPolicy: IfNotPresent
  tag: latest

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 3000

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: Prefix
  tls: []

resources: {}

livenessProbe:
  httpGet:
    path: /
    port: http

readinessProbe:
  httpGet:
    path: /
    port: http

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80

volumes: []
volumeMounts: []

nodeSelector: {}
tolerations: []
affinity: {}

env:
  GOOGLE_SHEETS_SPREADSHEET_ID: ""
  GOOGLE_SHEETS_LOGS_SPREADSHEET_ID: ""
  GOOGLE_SHEETS_CLIENT_EMAIL: ""
  GOOGLE_SHEETS_PRIVATE_KEY: ""

  SESSION_SECRET: ""
  GOOGLE_OAUTH_CLIENT_ID: ""
  GOOGLE_OAUTH_CLIENT_SECRET: ""
  GOOGLE_OAUTH_REDIRECT_URI: ""
  ADMIN_EMAILS: ""
